$sidebar-bgcolor: #f4f4f4;
$sidebar-link-color: rgb(40,40,40);
$sidebar-link-padding: 0.25em;
$sidebar-link-hover-bgcolor: #c3c3c3;
$sidebar-current-color: rgb(40,40,40);
$sidebar-current-bgcolor: aquamarine;

$content-bgcolor: #fff;
$global-layout-splitter-bgcolor: #ccc;
